---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset 'utf-8';

@import 'foundation/foundation';

@include foundation-global-styles;
@include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;

// Common Stuff
$dark-gray:  #222;
$light-gray: #eee;
$mule-red:   #cc3333;

$one-tick:   0.15s; // standard unit of across the system

$sans:       "proxima-nova", "Helvetica", sans-serif;
$serif:      "adelle", "Georgia", serif;

//Sections

.section-header {
  background-color: white;
  padding: 5% 0 5% 0;
  color: $dark-gray;
  font-family: $sans;
}

.section-current {
  padding-bottom: 2rem;
}

.section-upcoming {
  padding-top: 4rem;
}

.section-footer {
  background-color: $light-gray;
  padding: 2.5% 0 5% 0;
  margin-top: 5rem;
}

//Typography

.heading {
  font-family: $sans;
}

.heading-page-title {
  font-size: 14rem;
  font-weight: 700;
  display: inline-block;
  @include breakpoint(medium only) {
    font-size: 8rem;
  }
  @include breakpoint(small down) {
    font-size: 5rem;
    text-align: center;
  }
}

.kerning-tight {
  letter-spacing: -0.75rem;
  @include breakpoint(medium down) {
    letter-spacing: -0.25rem;
  }
}

.heading-subhead {
  margin-top: 1rem;
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;
  color: $dark-gray;
  font-weight: 700;
  letter-spacing: 0.05rem;
  span {
    padding: 0.25rem;
  }
}

.heading-detail {
  font-size: 1.5rem;
  margin-left: 1rem;
  .detail-disclaimer {
    font-size: 0.75rem;
    font-style: italic;
    margin-top: 0;
  }
}

.heading-exhibition-title {
  line-height: 1.1;
  margin-bottom: 2rem;
  font-weight: 700;
  @include breakpoint(small only) {
    font-size: 2rem;
  }
}

.textual-link {
  color: $dark-gray;
  box-shadow: inset 0 -0.75rem lighten($mule-red, 35%);
  transition: all $one-tick ease;
  &:hover {
    box-shadow: inset 0 -1.7rem lighten($mule-red, 35%);
    color: $dark-gray;
  }
  &:focus {
    color: black;
  }
}

.exhibition-description {
  font-size: 1.25rem;
  font-family: serif;
  margin-bottom: 2rem;
  font-family: $serif;
  a {
    color: $dark-gray;
    box-shadow: inset 0 -0.75rem lighten($mule-red, 35%);
    transition: all $one-tick ease;
    &:hover {
      box-shadow: inset 0 -1.7rem lighten($mule-red, 35%);
      color: $dark-gray;
    }
    &:focus {
      color: black;
    }
  }
}

.exhibition-details {
  // border-left: 5px solid $dark-gray;
  margin-bottom: 2rem;
}

.links {
  text-align: center;
}

.social-link {
  color: #999;
  margin-right: 1rem;
  transition: all 0.15s ease;
  &:hover {
    color: $dark-gray;
  }
}

.red {
  color: $mule-red;
}

//Images
.exhibition-frame {
  margin-bottom: 2rem;
}

.exhibition-img {
  width: 100%;
}

.artist-img {
  transition: all 0.15s ease;
  &:hover {
    transform: scale(1.05);
  }
}

.artist-img-big {
  display: inline-block;
  width: 75%;
  text-align: center;
}

.sold-dot {
  background-color: $mule-red;
  width: 2rem;
  height: 2rem;
  padding: 0.2rem 0.4rem 0.4rem 0.4rem;
  border-radius: 50%;
  margin-left: -1rem;
  transform: translateY(1rem);
  display: inline-block;

  @include breakpoint(medium down) {
    transform: translateY(1rem);
  }
  @include breakpoint(medium up) {
    margin-left: -2rem;
  }
  @include breakpoint(large up) {
    width: 4rem;
    height: 4rem;
    padding: 0.85rem 0.75rem 0.75rem 0.75rem;
  }
}

//Forms
.form-container {
  overflow: hidden;
  padding-right: .5rem;

  font-family: $sans;
}

.box-form {
  display: inline-block;
}

.signup-form {
  text-align: center;

  input {
    font-size: 1.1rem;
    font-family: $sans;
  }

  input.email {
    height: auto;
  }

  input.button {
    margin-left: 0.5rem;
    padding: 1rem 0.5rem;
  }
}

.form-container.row {
  padding: 0 0.5rem;
}

.subscribe-button {
  background-color: $mule-red;
  transition: all 0.15s ease;

  &:hover {
    background-color: #A32929;
  }
  &:focus {
    background-color: #A32929;
  }
}
